JpgImage_1 RCDATA "img\\BBS_bn.jpg"
Icon_1 ICON "img\\favicon64.ico"
JpgImage_2 RCDATA "img\\slide1.jpg"
JpgImage_3 RCDATA "img\\slide2.jpg"
JpgImage_4 RCDATA "img\\slide3.jpg"
JpgImage_5 RCDATA "img\\slide4.jpg"
JpgImage_6 RCDATA "img\\slide5.jpg"
JpgImage_7 RCDATA "img\\slide6.jpg"
JpgImage_8 RCDATA "img\\slide7.jpg"
JpgImage_9 RCDATA "img\\slide8.jpg"
JpgImage_10 RCDATA "img\\slide9.jpg"
JpgImage_11 RCDATA "img\\slide10.jpg"
JpgImage_12 RCDATA "img\\slide11.jpg"
JpgImage_13 RCDATA "img\\slide12.jpg"
PngImage_1 RCDATA "img\\sprites.png"
