livepreview_css RCDATA "css\\livepreview-demo.css"
main_css RCDATA "css\\main.css"
normalize_css RCDATA "css\\normalize.css"
top_css RCDATA "css\\top.css"
setting RCDATA "setting.txt"
sprites RCDATA "img\\sprites.png"
slide6 RCDATA "img\\slide6.jpg"
slide5 RCDATA "img\\slide5.jpg"
slide4 RCDATA "img\\slide4.jpg"
slide3 RCDATA "img\\slide3.jpg"
slide2 RCDATA "img\\slide2.jpg"
slide1 RCDATA "img\\slide1.jpg"
livepreview RCDATA "js\\jquery-live-preview.js"
main RCDATA "js\\main.js"
sub RCDATA "js\\sub.js"
top RCDATA "js\\top.js"
min RCDATA "js\\jquery-1.10.2.min.js"
ui_min RCDATA "js\\jquery-ui.min.js"
ui_custom RCDATA "js\\jquery-ui-1.10.3.custom.min.js"
modenizr RCDATA "js\\modernizr.custom.min.js"
