mente RCDATA "maintenance(rename).htm"
search RCDATA "search.htm"
setup RCDATA "setup.htm"
setting RCDATA "setting.txt"
livepreview_css RCDATA "livepreview-demo.css"
main_css RCDATA "main.css"
normalize_css RCDATA "normalize.css"
smart_css RCDATA "smart.css"
tablet_css RCDATA "tablet.css"
top_css RCDATA "top.css"
min RCDATA "js\\jquery-1.10.2.min.js"
livepreview RCDATA "js\\jquery-live-preview.js"
ui_min RCDATA "js\\jquery-ui.min.js"
ui_custom RCDATA "js\\jquery-ui-1.10.3.custom.min.js"
main RCDATA "js\\main.js"
modernizr RCDATA "js\\modernizr.custom.min.js"
sub RCDATA "js\\sub.js"
top RCDATA "js\\top.js"
