mente RCDATA "maintenance(rename).htm"
search RCDATA "search.htm"
setup RCDATA "setup.htm"
setting RCDATA "setting.txt"
livepreview_css RCDATA "livepreview-demo.css"
main_css RCDATA "main.css"
normalize_css RCDATA "normalize.css"
smart_css RCDATA "smart.css"
tablet_css RCDATA "tablet.css"
top_css RCDATA "top.css"
