<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <link rel=stylesheet href=css/main.css>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
         integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <form method=post>
        @ForEach (Item in Items) {
            <table>
                <tr>
                    <td>@Item.titlenum</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        }
        <br>
        <p align=center><input type="submit" formaction="/admin/@Page.database" value="削除">
            <input type=reset value="取り消し"></p>
        </form>
        @Import ./templates/footer.html {Data = Info}
        <section>
        <p style=text-align:center><a href="/bbs/@Page.database>">もどる</a></p>
</body>
</html>