<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel=stylesheet href="/css/main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
         integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
        <form method=post action="/admin/@Page.database">
            <table>
                <tr><td></td></tr>
             @ForEach Items {
                <tr>
                    <td><input type="CHECKBOX" name="datas[]" value="@loop.titlenum"></td>
                    <td>@loop.titlenum</td>
                    <td>@loop.title</td>
                    <td>@loop.name</td>
                    <td>@loop.datetime</td>
                </tr>
            }
            </table>
        <br>
        <p align=center><input type="submit" value="削除">
            <input type=reset value="取り消し"></p>
        </form>
        @Import ./templates/footer.html {Data = Info}
        <section>
        <p style=text-align:center><a href="/bbs/@Page.database">もどる</a></p>
</body>
</html>