
<div id="slide-1" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
        <#first>
        </ol>
	<div class="carousel-inner bg-dark">
        <#second>
	</div>
	<a class="carousel-control-prev" href="#slide-1" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previouse</span>
	</a>
	<a class="carousel-control-next" href="#slide-1" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
