  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <header>
    <a name=top></a>
    <form action=/bbs?db=<#dbnumber>&tn=<#titlenum> method="post">
      <p><br></p>

          <label for=text1>本文<span style=color:red>必須</span></label>
          <textarea style="font-size:1.75em" name="comment" rows=4
                required placeholder="コメントなどを入力してください."><#comment></textarea>
          <p style=color:white>コードが書き足せます<p>
          <textarea name="code" placeholder="code space"><#code></textarea>
      <p><br></p>
            お名前
            <input name="name" value=<#username>>
            <input class="btn btn-primary ml-3" type="submit" value="送信">

    </form>
    </header>
