<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <title></title>
    <meta charset="utf-8">
	<script type=text/javascript src=//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js></script>
	  <script src=//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js></script>
    <link rel=stylesheet href=/css/main.css>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <p>ad</p>
    <p>@Ad</p>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <header style="width:80%;align:center">
    <a name=top></a>
    <form action=/bbs/@Page.database method="post">
      <p><br></p>

          <label for=text1>本文<span style=color:red>必須</span></label>
          <textarea style="font-size:1.75em" name="comment" rows=4
                required placeholder="コメントなどを入力してください."></textarea>
          <p style=color:white>コードが書き足せます<p>
          <textarea name="code" placeholder="code space"></textarea>
      <p><br></p>
            お名前
            <input name="name" value="@articles.name">
            <input class="btn btn-primary ml-3" type="submit" value="送信">
    </form>
    </header>

    <p><br></p>
    <p style=text-align:center>@Page.database</p>
    @Import ./templates/footer.html {Data = Footer}
    @ForEach articles {
        @Import ./templates/main.html {Data = loop}
    }
    <a id=bottom></a>
    @Import ./templates/footer.html {Data = Footer}
    <p style=text-align:center><a href=/list/@Page.database>戻る</a></p>
    <p style=text-align:center><a href=/admin/@Page.database/@Page.page>管理者</a></p>
  </body>
</html>
